@import "@radix-ui/themes/tokens.css";
@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--gray-12);

  --color-card: var(--gray-2);
  --color-card-foreground: var(--gray-12);

  --color-popover: var(--color-panel-solid);
  --color-popover-foreground: var(--gray-12);

  --color-primary: var(--accent-9);
  --color-primary-foreground: var(--accent-contrast);

  --color-secondary: var(--gray-4);
  --color-secondary-foreground: var(--gray-12);

  --color-muted: var(--gray-3);
  --color-muted-foreground: var(--gray-11);

  --color-accent: var(--gray-4);
  --color-accent-foreground: var(--gray-12);

  --color-destructive: var(--red-9);
  --color-destructive-foreground: var(--red-contrast);

  --color-border: var(--gray-6);
  --color-input: var(--gray-7);
  --color-ring: var(--accent-8);
}

@layer base {
  * {
    border-color: var(--gray-6);
  }
  body {
    background-color: var(--color-background);
    color: var(--gray-12);
  }
}
